h1{
            color:rgb(0,0,0);
            font-family:styllo;
            text-align:center;
            font-size: 50px;
        }
h2{
            color:rgb(0,0,0);
            font-family:helvetica;
            text-align:center;
}

body,html {
            background-color:rgb(224,243,250);
            text-align:center;
            font-family:helvetica;
        }

        
@font-face {
            font-family:styllo;
            
            src:url("styllo.otf");
        }

#greentext {
    color:rgb(181, 227, 102)
}

#admin {
    font-family:"courier";
}
        
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        
    
}

#navbar li {
    display:inline-block;
    border:0px;
    padding:5px;
    background-color:rgb(224,243,250);
    font-weight: bold;
    font-size: 30px;

}
#navbar li:hover {
    transform: scale(1.2);
    transition: all .1s ease-out;
}
#navbar a {
    display: block;
    width: 90px;
    font-family:styllo;
    text-decoration:none;
    text-transform:lowercase;
    color:rgb(255, 56, 56);
}

#navbar a:link, #navbar a:hover {
    color:rgb(181, 227, 102);
    transition: all .1s ease-out;
}

